<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/prestudy.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Markant Lab Study</title>
</head>
<body>
<div class="container main">
    <div id="topic">
        <h2></h2>
        <p></p>
    </div>
    <div id="prior" class="bg-light">
        <div class="row">
            <p class="col-10" style="margin:0 auto; font-weight: 500">
                Please answer this question before continuing to the next topic.
            </p>
        </div>
        <br>
        <br>
        <!--<div class="row">-->
            <!--<p class="col-10" style="margin:0 auto">-->
                <!--How familiar are you with this topic?-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class = "row">-->
            <!--<fieldset class="form-group col-10" style=" margin:0 auto;">-->
                <!--<br>-->
                <!--<div class="form-check form-check-inline" style="width:18%">-->
                    <!--<label class="form-check-label">-->
                        <!--<input class="form-check-input" type="radio" name="knowledge" id="knowledgeRadio1" value="1"> not familiar-->
                    <!--</label>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="form-check form-check-inline" style="width:12%">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="form-check-label">&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="form-check-input" type="radio" name="knowledge" id="knowledgeRadio2" value="2"> 2&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="form-check form-check-inline" style="width:18%">-->
                    <!--<label class="form-check-label">-->
                        <!--<input class="form-check-input" type="radio" name="knowledge" id="knowledgeRadio3" value="2"> slightly familiar-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check form-check-inline" style="width:18%">-->
                    <!--<label class="form-check-label">-->
                        <!--<input class="form-check-input" type="radio" name="knowledge" id="knowledgeRadio4" value="3"> moderately familiar-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check form-check-inline" style="width:18%">-->
                    <!--<label class="form-check-label">-->
                        <!--<input class="form-check-input" type="radio" name="knowledge" id="knowledgeRadio5" value="4"> very familiar-->
                    <!--</label>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="form-check form-check-inline" style="width:12%">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="form-check-label">&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="form-check-input" type="radio" name="knowledge" id="knowledgeRadio6" value="6"> 6&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="form-check form-check-inline"  style="width:18%">-->
                    <!--<label class="form-check-label">-->
                        <!--<input class="form-check-input" type="radio" name="knowledge" id="knowledgeRadio7" value="5"> extremely familiar-->
                    <!--</label>-->
                <!--</div>-->
            <!--</fieldset>-->

        <!--</div>-->
        <!--<br>-->
        <!--<br>-->

        <div class="row">
            <p class="col-10" style="margin:0 auto">
                To what extent are you in favor or opposed to the proposal above?
            </p>
        </div>
        <div class = "row">
            <fieldset class="form-group col-10" style=" margin:0 auto;">
                <br>
                <div class="form-check form-check-inline" style="width:18%">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="decided" id="decidedRadio1" value="1"> completely opposed
                    </label>
                </div>
                <div class="form-check form-check-inline" style="width:18%">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="decided" id="decidedRadio2" value="2"> slightly opposed
                    </label>
                </div>
                <div class="form-check form-check-inline" style="width:18%">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="decided" id="decidedRadio3" value="3"> neutral
                    </label>
                </div>
                <div class="form-check form-check-inline" style="width:18%">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="decided" id="decidedRadio4" value="4"> slightly in favor
                    </label>
                </div>
                <div class="form-check form-check-inline" style="width:18%">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="decided" id="decidedRadio5" value="5"> completely in favor
                    </label>
                </div>
            </fieldset>

        </div>

    </div>
    <div id="decisions" class="row">
        <div id="continue" class="col-8"><p>Continue</p></div>
        <!--<div id="decide" class="col"><p>Make a Decision</p></div>-->
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Topic Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $.get("/api/data?topic=1").then(function(data){
        var question = data["title"];
        d3.select(".modal-body").text(data["info"]);
        d3.select(".modal-title").text(data["title"]);
        d3.select("#topic").select("p").text(data["info"]);
//        $("#exampleModal").modal();
        d3.select("#topic").select("h2").text(question);



        d3.select("#continue").on("click",function(){
            var data = [];
            var d = $("fieldset").serializeArray();
            console.log(d);
            for (var i in d) {
                data.push(d[i])
            }
            if (data.length === 1) {
                $.post("/api/poststudy",data,success=function(result){
                    console.log(result);
                    window.location.assign("/next");
                });
                console.log(data)
            } else {
                alert("please complete the two questions in this page.")
            }

//

        })
    })
</script>
</body>
</html>